---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Import partials from the `minima` theme.
@import "minima";

.page-nav {
    font-size: $small-font-size;
    display: block;
    width: auto;
    overflow: hidden;
}

.page-nav a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
}

.page-nav .next {
    text-align: right;
}

table{
    border-collapse: collapse;
    border:1px solid #ff0000;
}

th{
    border:1px solid #000000;
    padding: 3px;
}

td{
    border:1px solid #000000;
    padding: 3px;
}

.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center figcaption {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left;
    padding-right: 0.5em;
}

.right {
    float: right;
    padding-left: 0.5em;
}
